<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.jactr.eclipse.runtime.launching.normal">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/unit1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="unit1"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.aliasesFor./unit1.addition/models/unit1/addRunner.jactr" value="addRunner"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.aliasesFor./unit1/models/unit1/addRunner.jactr" value="addRunner"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.aliasesFor./unit1/models/unit1/sperlingRunner.jactr" value="sperlingRunner"/>
    <intAttribute key="org.jactr.eclipse.runtime.launching.cr.ackTime" value="2000"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.cr.disconnect" value="false"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.debugCoreEnabled" value="false"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.debugCoreLogConfiguration" value="/jactr-log.xml"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.debugCoreLogger" value="org.slf4j.impl.log4j12"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.ideTrace" value="true"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.instruments" value="org.jactr.core.logging.impl.DefaultModelLogger"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.modelFiles" value="models/unit1/sperlingRunner.jactr"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.onStart" value=""/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.onStop" value=""/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.commonreality.sensors.xml2.XMLSensor">
        <mapEntry key="XMLSensor.DataURI" value="/unit1/sperling/sensorData.xml"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.core.logging.impl.DefaultModelLogger">
        <mapEntry key="MaxFileSize" value="1"/>
        <mapEntry key="NumberOfBackups" value="2"/>
        <mapEntry key="all" value="log.txt"/>
        <mapEntry key="attach" value="all"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.BufferTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.LogTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.ProceduralModuleTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.VisualModuleTracer"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.recordTrace" value="false"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.sensors" value="org.commonreality.sensors.xml2.XMLSensor"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.tracers" value="org.jactr.tools.tracer.listeners.BufferTracer,org.jactr.tools.tracer.listeners.LogTracer,org.jactr.tools.tracer.listeners.ProceduralModuleTracer,org.jactr.tools.tracer.listeners.VisualModuleTracer"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.useEmbed" value="false"/>
</launchConfiguration>
