/.HighlightingConfiguration.java._trace
/.HighlightingConfiguration.xtendbin
/.SemanticHighlightingCalculator.java._trace
/.SemanticHighlightingCalculator.xtendbin
/HighlightingConfiguration.java
/SemanticHighlightingCalculator.java
