/.GlobalImplicitImportManager.java._trace
/.GlobalImplicitImportManager.xtendbin
/.LocalScopingProvider.java._trace
/.LocalScopingProvider.xtendbin
/.ProgramScopeProvider.java._trace
/.ProgramScopeProvider.xtendbin
/GlobalImplicitImportManager.java
/LocalScopingProvider.java
/ProgramScopeProvider.java
