/.DefaultGoalManipulator.java._trace
/.DefaultGoalManipulator.xtendbin
/.DefaultGoalStateProvider.java._trace
/.DefaultGoalStateProvider.xtendbin
/.DefaultReferenceResolver.java._trace
/.DefaultReferenceResolver.xtendbin
/DefaultGoalManipulator.java
/DefaultGoalStateProvider.java
/DefaultReferenceResolver.java
/.DefaultBlockSequencer.java._trace
/.DefaultBlockSequencer.xtendbin
/DefaultBlockSequencer.java
